body {
  margin: 0;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;

  color: white;

  background-image: url('./assets/d1.png');
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.backdrop i {
  font-style: normal;
  color: #ff8ae2;
}

h1 {
  font-size: 4em;
}

.control {
  z-index: 10;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.control input {
  font-family: Inter, sans-serif;
  font-size: 1em;
  outline: none;
  border: none;
  padding: 7px 20px;
  border-radius: 50px;
  width: 30vw;
}

.control button.capture {
  background: white;
  border: none;
  color: #333;
  font-size: 18px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.hidden {
  display: none;
}
