<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hacktoberfest Design Generator</title>

    <link rel="stylesheet" href="./index.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app">
      <div class="backdrop" :contenteditable="hideInput ? 'false' : 'true'">
        <img v-if="urlImage" :src="urlImage" />

        <h1 v-html="heading"></h1>
      </div>

      <div class="control" :class="{hidden: hideInput}">
        <input type="file" id="file-backdrop" @change="previewFiles" />
        <label for="file-backdrop" class="btn-upload"><i class="far fa-image"></i></label>

        <input type="text" placeholder="Heading Text" v-model="heading" />

        <button class="capture" @click="screenshot">
          <i class="far fa-camera"></i>
        </button>
      </div>
    </div>

    <script type="module">
      import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.esm.browser.js'

      const v = new Vue({
        el: '.app',
        data: {
          urlImage: './assets/d1.png',
          heading:
            'Calling for <br /><span style="font-size: 1.9em"><i>Speakers</i>! </span><span class="far fa-microphone-stand"></span>',
          hideInput: false,
        },
        methods: {
          toggle() {
            this.hideInput = !this.hideInput
          },

          onKey(e) {
            this.save()

            if (e.key === 'Enter') this.toggle()
          },

          async screenshot() {
            const element = document.querySelector('.backdrop')
            const canvas = await html2canvas(element, {useCORS: true})

            canvas.toBlob((blob) => saveAs(blob, 'poster.png'))
          },

          save() {
            localStorage.setItem('heading', this.heading)
          },

          load() {
            const data = localStorage.getItem('heading')
            if (data) this.heading = data
          },
          previewFiles(event) {
            const file = event.target.files[0];
            this.urlImage = URL.createObjectURL(file);
          }
        },
        created() {
          this.load()

          window.addEventListener('keydown', this.onKey)
        },
      })
    </script>

    <script
      src="https://kit.fontawesome.com/8a44609600.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
    <script src="https://www.unpkg.com/file-saver@2.0.2/dist/FileSaver.min.js"></script>
  </body>
</html>
