body {
  margin: 0;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;

  color: white;

  background-image: url('./assets/d1.png');
  min-height: 100vh;
  width: 100%;
  background-size: contain;
}

h1 {
  font-size: 2.8em;
}

.control {
  z-index: 10;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.control input {
  font-family: Inter, sans-serif;
  font-size: 1.3em;
  outline: none;
  border: none;
  padding: 7px 20px;
  border-radius: 50px;
}
